<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="proxyServer" type="Softnet.Proxy.ServerConfig, Softnet.Proxy"/>
  </configSections>
  <proxyServer secretKey="specify_uuid_for_this_server" maxSessions="10000" IPv4="127.0.0.1">
    <tcpConfig maxBufferedPackets="3000" TCPv6_MSS="1440" TCPv4_MSS="1460" />
    <udpConfig maxBufferedPackets="1000" packetSize="16384" />
  </proxyServer>
</configuration>